body{background:#f4f4f4;}
#container{width:983px;margin:0 auto;min-height:600px;background:#ffffff url("../i/2_3.jpg") no-repeat right bottom;}
#header{width:100%;height:108px;background:url("../i/2_1.jpg") no-repeat;}
#content{padding:0 100px;margin:-50px auto 50px;}
#footer{width:100%;height:125px;background:url("../i/2_2.jpg") no-repeat right top;}

.imglist0{text-align:center;margin-top:20px;}
.imglist0>img{border:5px solid #ffffff;display:inline-block;height:400px;padding:5px 10px;}
.imglist0>img:hover{border-color:#808080;}

.imglist1{text-align:center;margin-top:20px;}
.imglist1>img{border:5px solid #ccc;border-radius:20px;display:inline-block;height:400px;padding:5px 10px;}
.imglist1>img:hover{border-color:#808080;}

.imglist2{height:450px;line-height:450px;text-align:center;margin-top:20px;}
.imglist2>img{border:10px solid #ffffff;border-radius:100%;display:inline-block;width:300px;height:400px;padding:5px 10px;}
.imglist2>img:hover{border:5px solid #666;width:310px;height:410px;}