body{font-size: 12pt; line-height:150%;}
h1{text-align:center;}
hr{width:100%;height:1px;border:0;background:#abc6cf;}
p{text-indent:2em;}
a{text-decoration:none;}
.note{color:#ff0000;text-align:center;}
.hidden{display:none;}
.clear{clear:both;}
